/* Format tags */

.rounded-custom {
    border-radius: 25px !important;
}

.rounded-custom-2 {
    border-radius: 12px;
}

.flex-logo {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.dropdown-menu li a img {
    width: 60px;
}

.list-style-none {
    list-style: none;
}

.hardware {
    list-style: square;
}

.none {
    list-style: none !important;
}

.hardware::before {
  content: "• " !important;
  color: blue !important;
  padding-right: 2px;
  font-size: 20px;
  text-align: justify;
}

.separator {
    width: 100% !important;
    background-color: rgb(156, 156, 156) !important;
    height: 1px !important;
    margin: 0 !important;
    margin-bottom: 1rem;
}



/* Banner */

.padding-head {
    padding-top: 118px !important;
}

#returnal {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 350px;
    padding-bottom: 75px;
}