/* Format tags */

.rounded-custom {
    border-radius: 25px !important;
}

.rounded-custom-2 {
    border-radius: 12px;
}

.fs-custom-1 {
    font-size: .6rem !important;
}

.fs-custom-2 {
    font-size: .8rem !important;
}

.ms-dark-blue {
    background-color: rgb(22, 28, 59);
}

.ms-text-dark {
    color: black !important;
    opacity: 1;
    font-weight: bold;
}

.btn:hover {
    box-shadow: inset 0px 0px 0px 2px white;
}

.btn-danger:hover, .btn-white:hover {
    box-shadow: inset 0px 0px 0px 2px black !important;
}

.btn {
    border-width: 2px !important;
}

/* Header */

.flex-logo {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.list-style-none {
    list-style: none;
}

.separator {
    width: 100% !important;
    background-color: rgb(156, 156, 156) !important;
    height: 1px !important;
    margin: 0 !important;
    margin-bottom: 1rem;
}

.ms-list-none {
    list-style: none;
}

.fa-circle {
    font-size: 6px;
    color: rgb(74, 136, 190);
    vertical-align: middle;
    padding-bottom: 2px;
    padding-right: 1rem;
    padding-left: 0.5rem;
}

.navbar a:hover {
    color: rgb(74, 136, 190) !important;
}

.chevron-up {
    display: none;
}

a:focus .chevron-up {
    display: inline-block;
    transform: rotate(180deg);
}

a:focus .chevron-down {
    display: none;
}

.dropdown-menu li ul li a.d-flex:hover {
    box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 20%);
}

/* Hero */

.hero {
   padding-top: 300px;
   padding-bottom: 75px;
   margin-top: 120px;
}

#returnal {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* PS5 */

/* Hero-2 */

#ittakestwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}


/* PS-PLUS */

.ms-grey {
    background-color: rgb(190, 188, 187) !important;
}

/* Footer */

.ms-blue {
    background-color: rgb(0, 67, 156);
}